/.idea
/node_modules
public/sitemap-*.xml
/public/hot
/public/storage
/public/css/app.css
/public/css/app.css.map
/public/js/app.js.map
/storage/*.key
/vendor
.env
.env.backup
/public/.htaccess
.htaccess
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
update.log
storage/test.sqlite
storage/test.sqlite-journal

